@using Sandbox;
@using Sandbox.UI;

@namespace MapPicker
@inherits RootPanel
@attribute [StyleSheet]

<style>
    .root-container{
        pointer-events: all;
    }
</style>


<root class="root-container">
    @* todo render list of maps from MapPicker, call Vote.VoteForMap( mapName ) on click *@

	<button @onclick=@( () => Log.Info( "Clicked!" ) )>TEST BUTTON</button>
	<button @onclick=@( () => Vote.VoteForMap( "Clicked!" ) )>TEST BUTTON 2</button>
</root>

@code
{

}