@using Sandbox;
@using Sandbox.UI;

@namespace MapPicker
@inherits RootPanel
@attribute [StyleSheet]
@using System.Collections.Generic;
@using System.Linq;
@using System.Text.Json;
<style>
    .root-container {
        pointer-events: all;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .map-container {
        flex-basis: 32%;
        margin-bottom: 1.5%;
        position: relative;
        background-image: url('https://picsum.photos/200');
        background-size: cover;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .map-button {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    .vote-count {
        position: absolute;
        top: 5px;
        right: 5px;
    }
</style>

<root class="root-container">
    @for (int i = 0; i < MapVote.maps.Count; i += 3)
    {
        <div class="row-container">
            @foreach (var map in MapVote.maps.Skip(i).Take(3))
            {
                <div @onclick=@( () => Vote.VoteForMap(map.MapId) ) class="map-container">
                    <button class="map-button">@map.MapName</button>
                    <span class="vote-count">(Votes: @MapVote.votes[map.MapId])</span>
                </div>
            }
        </div>
    }
</root>

@code
{

    public static List<MapInfo> maps { get; private set; }
    public static Dictionary<string, int> votes { get; private set; }

    public MapVote(List<MapInfo> mapInfos, Dictionary<string, int> mapVotes)
    {
        // Use the provided mapInfos and mapVotes directly
        maps = mapInfos ?? new List<MapInfo>();
        votes = mapVotes ?? new Dictionary<string, int>();
    }


    [ClientRpc]
    public static void UpdateMapVote(string serializedMapVotes)
    {
        // Deserialize the JSON string back to a dictionary
        var deserializedVotes = JsonSerializer.Deserialize<Dictionary<string, int>>(serializedMapVotes);

      Log.Info("Time called 2 was " + Time.Now);

        MapVote.votes = deserializedVotes;


    }
}